<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>college website</title>
    <link rel="stylesheet" href="./../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <!-- navigation -->
    <nav>
        <img src="./../static/images/logopn.png" alt="" height="70px" width="40px">
        <div class="navigation">
            <ul>
                <li><a  href="/"> Home  </a></li>
                <li><a class="active" href="/about"> About  </a></li>
                <li><a href="/blog"> Blog  </a></li>
                <li><a href="/course"> Courses   </a></li>
                <li><a href="/contact"> Contact us  </a></li>
            </ul>
        </div>
    </nav>
    <!-- home --> 
    <section id="About-home">
        <h2> About  Code With NP, Learn With Us.</h2>
        
    </section>
    <section id="about-container">
        <div class="about-img">
            <img src="https://wallpaperaccess.com/full/1644014.jpg"/>
        </div>
        <div class="about-text">
            <h2>Welcome To Code With NP</h2>
            <p> You Can Start And Finish One Of These Popular
                Courses In Under a Day-For Free
            </p>
            <div class="class-fea">
                <img src="./../static/images/f1.jpg" alt="features" />
                <div class="fea-text">
                    <h5> More Courses</h5>
                <p>You can Start And Finish One Of These Popular Courses
                    In Under Our Site </p>
                </div>
            </div>
            <div class="class-fea">
                <img src="./../static/images/f1.jpg" alt="features" />
              <div class="fea-text">
                <h5> Lifeline Access</h5>
                <p>You can use our courses for lifetime </p>
              </div>
            </div>
        </div>

    </section>
    <section id="features">
        <h1>Awesome features</h1><br/>
        <p>"Everyone in this country should Learn how to program bcoz it teaches you to think"</p><br/>
        
        <div class="fea-base">

             <div class="fea-box">
                <i class="fa fa-graduation-cap" ></i>
                <h3>Free Learning</h3>
                <p>Everyone can freely learn.</p>
            </div>

            <div class="fea-box">
                <i class="fa fa-certificate" aria-hidden="true"></i>
            <h3> online Course</h3>
            <p>Online which are easily avilable</p>
        </div>

        <div class="fea-box">
        <i class="fa fa-award"></i>
        <h3>Internship</h3>
        <p>Internship with more Project And coding practise</p>
    </div>
</div>
    
    </section>
   
    <section id="trust" >
       <h1> Trusted by</h1>
       <p>Trusted By Hundred Student </p> 
       <div class="trust-img">
        <img src="./../static/images/u1.png"/>
        <img src="./../static/images/u2.webp"/>
        <img src="./../static/images/u3.jpg"/>
        <img src="./../static/images/u4.jpg"/>
        <img src="./../static/images/u5.png"/>
       </div>
    </section>

    <footer>
  <div class="footer-col">
    <h3>Our Products</h3>
    <li>Managed website</li>
    <li>easy code</li>
    <li>Trustable code</li>
    <li>Marketing service</li>
</div>
<div class="footer-col">
    <h3>Quick links</h3>
    <li>Jobs</li>
    <li>Brand</li>
    <li>Invester Relationship</li>
    <li>good service</li>
</div>
<div class="footer-col">
    <h3>Features</h3>
    <li>Managed website</li>
    <li>easy code</li>
    <li>Trustable code</li>
    <li>Marketing service</li>
</div>
<div class="footer-col">
    <h3>Resourse</h3>
    <li>Guide</li>
    <li>Research</li>
    <li>Experts</li>
    <li>Marketing service</li>
</div>
<div class="footer-col">
    <h3> Newsletter</h3>
    <p>You can trust us. We only send promo offer</p>
    <div class="subscribe">
        <input type="text" placeholder="Your Email Addresss" />
        <a href="#" class="yellow">SUBSCRIBE</a>
    </div>
</div>
<div class="copyright"></div>
<marquee height="200" direction="right"> copyright @2022 All rights reserved | this template is made by Khatal Nikita and Khatode pallavi </marquee>
<div class="pro-links">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin-in"></i>
</div>
    </footer>
    <img src="./../static/images/rocket.png" class="i"/>

</body>
</html>