<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>college website</title>
    <link rel="stylesheet" href="./../static/css/style.css">
    <script src="./../static/js/college.js" defer></script>

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <!-- navigation -->
    <nav>
        <img src="./../static/images/logopn.png" alt="" height="70px" width="40px">
        <div class="navigation">
            <ul>
                <li><a href="/"> Home </a></li>
                <li><a href="/about"> About </a></li>
                <li><a href="/blog"> Blog </a></li>
                <li><a class="active" href="/course"> Courses </a></li>
                <li><a href="/contact"> Contact us </a></li>
            </ul>
        </div>
    </nav>
    <!-- home -->
    <section id="About-home">
        <h2> Enhance Our Popular Courses And Skill Up</h2>
    </section>

    <section id="course-inner">
        <div class="overview">
            <img height="400" width="400" class="course-img" src="./../static/images/c.png" />
            <div class="course-head">
                <div class="c-name">
                    <h2>C-Programming beginners course</h2>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <p> c-programming from the begginning. All the way up to c experts level! The must-have
                        C-proggramming resourse in 2022.</p><br />
                </div><br />
                <!-- <span>$49.99 </span> -->
            </div>
            <h3> Insructor</h3><br />
            <div class="tutor">
                <img height="70" width="70" src="./../static/images/aa.jpeg" />
                <div class="tutor-dtl">
                    <h5> Natasha musk</h5>
                    <p> App developer At Wipro</p>
                </div>
            </div>
            <!-- <hr/> -->
            <br /><br />
            <hr />
            <h3> Course Overview</h3>
            <hr /><br /><br />
            <p>
            <h2>What is C?</h2><br />
            C is a general-purpose programming language created by Dennis Ritchie at the Bell Laboratories in 1972.

            It is a very popular language, despite being old.

            C is strongly associated with UNIX, as it was developed to write the UNIX operating system.
            <br /><br />
            It is one of the most popular programming language in the world
            If you know C, you will have no problem learning other popular programming languages such as Java, Python,
            C++, C#, etc, as the syntax is similar
            C is very fast, compared to other programming languages, like Java and Python
            C is very versatile; it can be used in both applications and technologies<br /><br />C programming language
            is a machine-independent programming language that is mainly used to create many types of applications and
            operating systems such as Windows, and other complicated programs such as the Oracle database, Git, Python
            interpreter, and games
            </p><br />
            <hr /><br /><br />
            <h3>What you`ll learn</h3>
            <div class="learn">
                <p><i class="far fa-check-circle"></i>|&nbsp; c-programming from scratch-beginner to advanced</p>
                <p><i class="far fa-check-circle"></i>| &nbsp; Everything You Need To Become a c Expert</p>
                <p><i class="far fa-check-circle"></i>| &nbsp; All about keywords,functions,data structure And Algorithm
                </p>
                <p><i class="far fa-check-circle"></i>| &nbsp; Projects</p>
                <p><i class="far fa-check-circle"></i>| &nbsp; Handwritten Notes</p>
                <!-- <p><i class="far fa-check-circle"></i>c-programming from scratch-beginner to advanced </p>-->
            </div>

        </div>
        <div class="enroll">
            <h3> This Course includes:</h3><br />
            <p><i class="fa-solid fa-video"></i> videos</p><br />
            <p><i class="fa-solid fa-newspaper"></i> Articles</p><br />
            <p><i class="fa-regular fa-cloud"></i> Downloadable resoures</p><br />
            <p><i class="fa-solid fa-infinity"></i> Full lifeline access </p><br />
            <p><i class="fa-solid fa-mobile"></i> Access on mobile </p><br />
            <p><i class="fa-solid fa-paperclip"></i> Assignment</p><br />
            <p><i class="fa-solid fa-trophy"></i> Certificate of completion</p><br />
            <div class="enroll-btn">
                <a class="blue" href="#"> Enroll Courses</a>
            </div>
        </div>
    </section>

    <section class="faqs">
        <h2>Frequently Asked Questions</h2>
        <div class="container faqs__container">
            <article class="faq open">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>keywords in C-Programming</h4>
                    <hr />
                    <P>
                        <strong>There are 32 keywords.</strong>
                        Keywords are predefined, reserved words in C language and each of which is associated with
                        specific features
                        Keywords in C Programming<br />
                        <strong>keywords are:</strong>
                    <p>auto,break ,case, char
                        const ,continue, default ,do,
                        double ,else,enum,extern,,
                        float ,for ,goto ,if,
                        int, long, register ,return,
                        short ,signed, sizeof ,static,
                        struct ,switch, typedef, union,
                        unsigned ,void ,volatile, while.</p>
                    </P>
                </div>
            </article>

            <article class="faq ">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>Function in C</h4>
                    <hr />
                    <P>
                        A function is a block of code which only runs when it is called. You can pass data, known as
                        parameters, into a function. Functions are used to perform certain actions, and they are
                        important for reusing code: Define the code once, and use it many times.
                    </P>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>What is Array?</h4>
                    <hr />
                    <P>
                        Array in C can be defined as a method of clubbing multiple entities of similar type into a
                        larger group. These entities or elements can be of int, float, char, or double data type or can
                        be of user-defined data types too like structures.<br /><br />
                        <strong>
                            Array Declaration by Specifying the Size:</strong><br />
                        Arrays can be declared by specifying the size or the number of array elements. The size of the
                        array specifies the maximum number of elements that the array can hold. <br />
                        Ex-int arr[5];<br><br>
                        <strong>Advantages of Array in C</strong><br>
                        * Arrays make the code more optimized and clean since we can store multiple elements in a single
                        array at once, so we do not have to write or initialize them multiple times.
                    </P>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>What is pointer?</h4>
                    <hr />
                    <P>
                        A pointer is a variable that stores the memory address of another variable as its value. A
                        pointer variable points to a data type (like int ) of the same type, and is created with the *
                        operator
                    </P>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>What is Stack?</h4>
                    <hr />
                    <P>
                        Stack is a linear data structure that follows the LIFO (Last In First Out) approach to perform a
                        series of basic operations like push, pop, peek, and traverse. A Stack can be implemented using
                        an Array or Linked List.
                    </P>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>What is Queue?</h4>
                    <hr />
                    <P>
                        A queue in C is basically a linear data structure to store and manipulate the data elements. It
                        follows the order of First In First Out (FIFO). In queues, the first element entered into the
                        array is the first element to be removed from the array.
                    </P>
                </div>
            </article>
        </div>

    </section>
    <footer>
        <div class="footer-col">
            <h3>Our Products</h3>
            <li>Managed website</li>
            <li>easy code</li>
            <li>Trustable code</li>
            <li>Marketing service</li>
        </div>
        <div class="footer-col">
            <h3>Quick links</h3>
            <li>Jobs</li>
            <li>Brand</li>
            <li>Invester Relationship</li>
            <li>good service</li>
        </div>
        <div class="footer-col">
            <h3>Features</h3>
            <li>Managed website</li>
            <li>easy code</li>
            <li>Trustable code</li>
            <li>Marketing service</li>
        </div>
        <div class="footer-col">
            <h3>Resourse</h3>
            <li>Guide</li>
            <li>Research</li>
            <li>Experts</li>
            <li>Marketing service</li>
        </div>
        <div class="footer-col">
            <h3> Newsletter</h3>
            <p>You can trust us. We only send promo offer</p>
            <div class="subscribe">
                <input type="text" placeholder="Your Email Addresss" />
                <a href="#" class="yellow">SUBSCRIBE</a>
            </div>
        </div>
        <div class="copyright"></div>
        <marquee height="200" direction="right"> copyright @2022 All rights reserved | this template is made by Khatal
            Nikita and Khatode pallavi </marquee>
        <div class="pro-links">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>

    </footer>
    <img src="./../static/images/rocket.png" class="i"/>

   
</body>

</html>