<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>college website</title>
    <link rel="stylesheet" href="./../static/css/style.css">
    <script src="./../static/js/college.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <!-- navigation -->
    <nav>
        <img src="./../static/images/logopn.png" alt="" height="70px" width="40px">
        <div class="navigation">
            <ul>
                <li><a href="/"> Home </a></li>
                <li><a href="/about"> About </a></li>
                <li><a href="/blog"> Blog </a></li>
                <li><a class="active" href="/course"> Courses </a></li>
                <li><a href="/contact"> Contact us </a></li>
            </ul>
        </div>
    </nav>
    <!-- home -->
    <section id="About-home">
        <h2> Enhance Our Popular Courses And Skill Up</h2>
    </section>

    <section id="course-inner">
        <div class="overview">
            <img height="300" width="300" class="course-img" src="./../static/images/js.jpg" />
            <div class="course-head">
                <div class="c-name">
                    <h2>JavaScript beginners course</h2>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <p> JavaScript is the world's most popular programming language.JavaScript is the programming
                        language of the Web.JavaScript is easy to learn.This tutorial will teach you JavaScript from
                        basic to advanced..</p><br />
                </div><br />
                <!-- <span>$49.99 </span> -->
            </div>
            <h3> Insructor</h3><br />
            <div class="tutor">
                <img height="70" width="70" src="./../static/images/aa.jpeg" />
                <div class="tutor-dtl">
                    <h5> Natasha musk</h5>
                    <p> App developer At Wipro</p>
                </div>
            </div>
            <!-- <hr/> -->
            <br /><br />
            <hr />
            <h3> Course Overview</h3>
            <hr /><br /><br />
            <p>
            <h2>What is Use of javascript?</h2><br />
            Javascript is used by programmers across the world to create dynamic and interactive web content like
            applications and browsers.
            <hr /><br /><br />
            <h3>What you`ll learn</h3>
            <div class="learn">
                <p><i class="far fa-check-circle"></i>JavaScript from scratch-beginner to advanced</p>
                <p><i class="far fa-check-circle"></i>Everything You Need To Become a JavaScript Expert</p>
                <p><i class="far fa-check-circle"></i>All about Function,Method,Event,etc</p>
                <p><i class="far fa-check-circle"></i>Projects</p>
                <p><i class="far fa-check-circle"></i>Handwritten Notes</p>
                <p><i class="far fa-check-circle">

                    </i>JavaScript from scratch-beginner to advanced</p>
            </div>

        </div>
        <div class="enroll">
            <h3> This Course includes:</h3><br />
            <p><i class="fa-solid fa-video"></i> videos</p><br />
            <p><i class="fa-solid fa-newspaper"></i> Articles</p><br />
            <p><i class="fa-solid fa-cloud-arrow-down"></i> Downloadable resoures</p><br />
            <p><i class="fa-solid fa-infinity"></i> Full lifeline access </p><br />
            <p><i class="fa-solid fa-mobile"></i> Access on mobile </p><br />
            <p><i class="fa-solid fa-paperclip"></i> Assignment</p><br />
            <p><i class="fa-solid fa-trophy"></i> Certificate of completion</p><br />
            <div class="enroll-btn">
                <a class="blue" href="#"> Enroll Courses</a>
            </div>
        </div>
    </section>

    <!-- question -->

    <section class="faqs">
        <h2>Frequently Asked Questions</h2>
        <div class="container faqs__container">
            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>The script Tag</h4>
                    <hr />
                    <P>In HTML, JavaScript code is inserted between start and end script tag.


                    </P>
                </div>
            </article>

            <article class="faq ">
                <!-- open -->
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4> JavaScript Functions and Events</h4>
                    <hr />
                    <P>
                        A JavaScript function is a block of JavaScript code, that can be executed when "called" for.For
                        example, a function can be called when an event occurs, like when the user clicks a button.
                        <br><br>
                        Here are some examples of HTML events:<br><br>

                        An HTML web page has finished loading<br>
                        An HTML input field was changed<br>
                        An HTML button was clicked<br>
                    </P>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>JavaScript String Methods</h4>
                    <hr />
                    <P>
                        String length<br>
                        String slice()<br>
                        String substring()<br>
                        String substr()<br>
                        String replace()<br>
                        String replaceAll()<br>
                        String toUpperCase()<br>
                        String toLowerCase()<br>
                        String concat()<br>
                        String trim()<br>
                        String trimStart()<br>
                        String trimEnd()<br>
                        String padStart()<br>
                        String padEnd()<br>
                        String charAt()<br>
                        String charCodeAt()<br>
                        String split()<br>
                    </P>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>JavaScript Arrow Function</h4>
                    <hr />
                    <P>
                        Arrow functions were introduced in ES6.Arrow functions allow us to write shorter function
                        <br> syntax:<br>
                        let myFunction = (a, b) => a * b;


                    </P>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>JavaScript Classes</h4>
                    <hr />
                    <P>
                        ECMAScript 2015, also known as ES6, introduced JavaScript Classes.

                        JavaScript Classes are templates for JavaScript Objects..<br>
                        <strong>ECMAScript</strong> stands for European Computer Manufacturers Association
                        Script<br><br>
                        JavaScript Class Syntax<br><br>
                        Use the keyword class to create a class.<br>

                        Always add a method named constructor():<br><br>
                        Example<br>
                        class Car {<br>
                        constructor(name, year) {<br>
                        this.name = name;<br>
                        this.year = year;<br>
                        }<br>
                        }
                    </P>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>JavaScript Modules</h4>
                    <hr />
                    <P>JavaScript modules allow you to break up your code into separate files.<br>This makes it easier to maintain a code-base.<br>
                       Modules are imported from external files with the import statement.<br>
                       Modules also rely on type="module" in the script tag.<br>
                       Example:<br><br>
                       script type="module"<br>
                        import message from "./message.js";<br>
                        /script
                    </P>
                </div>
            </article>
        </div>

    </section>


    <!-- question -->


    <footer>
        <div class="footer-col">
            <h3>Our Products</h3>
            <li>Managed website</li>
            <li>easy code</li>
            <li>Trustable code</li>
            <li>Marketing service</li>
        </div>
        <div class="footer-col">
            <h3>Quick links</h3>
            <li>Jobs</li>
            <li>Brand</li>
            <li>Invester Relationship</li>
            <li>good service</li>
        </div>
        <div class="footer-col">
            <h3>Features</h3>
            <li>Managed website</li>
            <li>easy code</li>
            <li>Trustable code</li>
            <li>Marketing service</li>
        </div>
        <div class="footer-col">
            <h3>Resourse</h3>
            <li>Guide</li>
            <li>Research</li>
            <li>Experts</li>
            <li>Marketing service</li>
        </div>
        <div class="footer-col">
            <h3> Newsletter</h3>
            <p>You can trust us. We only send promo offer</p>
            <div class="subscribe">
                <input type="text" placeholder="Your Email Addresss" />
                <a href="#" class="yellow">SUBSCRIBE</a>
            </div>
        </div>
        <div class="copyright"></div>
        <marquee height="200" direction="right"> copyright @2022 All rights reserved | this template is made by Khatal
            Nikita and Khatode pallavi </marquee>
        <div class="pro-links">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
    </footer>
    <img src="./../static/images/rocket.png" class="i" />


</body>

</html>