<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>college website</title>
    <link rel="stylesheet" href="./../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <!-- navigation -->
    <nav>
        <img src="./../static/images/logopn.png" alt="" height="70px" width="40px">
        <div class="navigation">
            <ul>
                <li><a href="#"> Home </a></li>
                <li><a href="/about"> About </a></li>
                <li><a class="active" href="/blog"> Blog </a></li>
                <li><a href="/course"> Courses </a></li>
                <li><a href="/contact"> Contact us </a></li>
            </ul>
        </div>
    </nav>
    <marquee height="200" direction="right">learn the FullStack web design in the Easier Way</marquee>
    <section id="About-home">
        <h2> About Code With NP Learn With Us.</h2>
        <marquee height="200" direction="right">learn the FullStack web design in the Easier Way</marquee>
    </section>
    <section id="blog-con">
        <div class="blogpost">
            <div class="post">
                <!-- <img src="./../static/images/b3fs.jpg" /> -->
                <img src="https://crampete-staticfiles.s3.ap-south-1.amazonaws.com/blogs/Blog-139/Front-end1.jpg.png"/>
                <h3>learn the web design in the Easier Way</h3>
                <p>Front-end technology roadmap for full-stack web development.</p>
                <p>Becoming a full stack web developer seems to be a daunting task, especially if you are completely new
                    to the field of coding. As a beginner, you might think that you have a whole lot to learn within a
                    short span of time.<br /><br>
                    In this blog, you will find a complete full-stack roadmap of 2023. It is the go-to guide for
                    organizing and selecting technologies to learn. The roadmap is similar to the full-stack roadmap of
                    2020 that we wrote about earlier.

                    This article will mainly benefit the noobs but is also useful for professional coders looking to
                    become full-stack web developers. If you already have knowledge of some of the technologies we are
                    going to talk about here, skip to the sections that will be useful to you. Feel free to customize
                    this roadmap to suit your needs. </p>
                <p>
                <h2>Basic languages</h2>
                <hr />
                <strong> HTML</strong>- HyperText Markup Language is the most basic and must know for any website you
                are creating. You define and structure the content of a website.<br /><br />
                <strong> CSS</strong>- CSS is used for styling websites and adding layouts, fonts and colours.
                <br /><br />
                <strong>SQL</strong>- Structured Query Language is a basic language used for database management.<br />
                <hr /><br />
                <h2>Front-end frameworks</h2><br />
                <strong> BootStrap</strong>- BootStrap is an open-source toolkit for developing responsive, mobile first
                projects. It uses HTML,CSS and JavaScript.<br /><br />
                <strong>ReactJS</strong>- A JavaScript library maintained by Facebook and a group of companies as well
                as individual developers<br />
                <hr /><br />
                <h2>Back-end technology roadmap for full-stack web development</h2><br />
                <strong>NodeJS</strong>- NodeJS is an open-source, cross-platform in nature that runs across various
                platforms. it is a JavaScript runtime environment that executes JavaScript outside a browser<br />
                <br/>
                <strong>Flask</strong>-Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries. <hr/>
                </p>
                <a href="/blog">Hide</a>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-col">
            <h3>Our Products</h3>
            <li>Managed website</li>
            <li>easy code</li>
            <li>Trustable code</li>
            <li>Marketing service</li>
        </div>
        <div class="footer-col">
            <h3>Quick links</h3>
            <li>Jobs</li>
            <li>Brand</li>
            <li>Invester Relationship</li>
            <li>good service</li>
        </div>
        <div class="footer-col">
            <h3>Features</h3>
            <li>Managed website</li>
            <li>easy code</li>
            <li>Trustable code</li>
            <li>Marketing service</li>
        </div>
        <div class="footer-col">
            <h3>Resourse</h3>
            <li>Guide</li>
            <li>Research</li>
            <li>Experts</li>
            <li>Marketing service</li>
        </div>
        <div class="footer-col">
            <h3> Newsletter</h3>
            <p>You can trust us. We only send promo offer</p>
            <div class="subscribe">
                <input type="text" placeholder="Your Email Addresss" />
                <a href="#" class="yellow">SUBSCRIBE</a>
            </div>
        </div>
        <div class="copyright"></div>
        <marquee height="200" direction="right"> copyright @2022 All rights reserved | this template is made by Khatal
            Nikita and Khatode pallavi </marquee>
        <div class="pro-links">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
    </footer>
    <img src="./../static/images/rocket.png" class="i"/>

</body>

</html>