<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>college website</title>
    <link rel="stylesheet" href="./../static/css/style.css">
    <script src="./../static/js/college.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <!-- navigation -->
    <nav>
        <img src="./../static/images/logopn.png" alt="" height="70px" width="40px">
        <div class="navigation">
            <ul>
                <li><a href="/"> Home </a></li>
                <li><a href="/about"> About </a></li>
                <li><a href="/blog"> Blog </a></li>
                <li><a class="active" href="/course"> Courses </a></li>
                <li><a href="/contact"> Contact us </a></li>
            </ul>
        </div>
    </nav>
    <!-- home -->
    <section id="About-home">
        <h2> Enhance Our Popular Courses And Skill Up</h2>
    </section>

    <section id="course-inner">
        <div class="overview">
            <img height="300" width="300" class="course-img"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png" />
            <div class="course-head">
                <div class="c-name">
                    <h2>React beginners course</h2>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <p> React is a JavaScript library for building user interfaces. React is used to build single-page
                        applications. React allows us to create reusable UI components..</p><br />
                </div><br />
                <!-- <span>$49.99 </span> -->
            </div>
            <h3> Insructor</h3><br />
            <div class="tutor">
                <img height="70" width="70" src="./../static/images/aa.jpeg" />
                <div class="tutor-dtl">
                    <h5> Natasha musk</h5>
                    <p> App developer At Wipro</p>
                </div>
            </div>
            <!-- <hr/> -->
            <br /><br />
            <hr />
            <h3> Course Overview</h3>
            <hr /><br /><br />
            <p>
            <h2>What is React.js?</h2><br />
            The React. js framework is an open-source JavaScript framework and library developed by Facebook.
            <hr /><br /><br />
            <h3>What you`ll learn</h3>
            <div class="learn">
                <p><i class="far fa-check-circle"></i>React.js from scratch-beginner to advanced</p>
                <p><i class="far fa-check-circle"></i>Everything You Need To Become a React Expert</p>
                <p><i class="far fa-check-circle"></i>All about Hooks,states,Props,Events,JSX,etc</p>
                <p><i class="far fa-check-circle"></i>Projects</p>
                <p><i class="far fa-check-circle"></i>Handwritten Notes</p>
                <p><i class="far fa-check-circle">

                    </i>React from scratch-beginner to advanced</p>
            </div>

        </div>
        <div class="enroll">
            <h3> This Course includes:</h3><br />
            <p><i class="fa-solid fa-video"></i> videos</p><br />
            <p><i class="fa-solid fa-newspaper"></i> Articles</p><br />
            <p><i class="fa-solid fa-cloud-arrow-down"></i> Downloadable resoures</p><br />
            <p><i class="fa-solid fa-infinity"></i> Full lifeline access </p><br />
            <p><i class="fa-solid fa-mobile"></i> Access on mobile </p><br />
            <p><i class="fa-solid fa-paperclip"></i> Assignment</p><br />
            <p><i class="fa-solid fa-trophy"></i> Certificate of completion</p><br />
            <div class="enroll-btn">
                <a class="blue" href="#"> Enroll Courses</a>
            </div>
        </div>
    </section>

    <!-- question -->

    <section class="faqs">
        <h2>Frequently Asked Questions</h2>
        <div class="container faqs__container">
            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>What is React?</h4>
                    <hr />
                    <P> React is a JavaScript library for building user interfaces.<br /><br />

                        React is used to build single-page applications.<br /><br />

                        React allows us to create reusable UI components.<br />

                    </P>
                </div>
            </article>

            <article class="faq ">
                <!-- open -->
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4> How to install React?</h4>
                    <hr />
                    <P>
                        <strong>step 1:</strong> Install Node.js installer for windows.<br><br>
                        <strong>step 2:</strong>Open command prompt to check whether it is completely installed or not
                        type the command –>
                        <br><br>
                        node -v<br><br>
                        <strong>step 3:</strong>Now in the terminal run the below command: <br><br>

                        npm install -g create-react-app <br><br>
                        check React version<br><br>
                        create-react-app --version<br><br>
                        <strong>step 4:</strong>Now Create a new folder where you want to make your react app using the
                        below command: <br><br>

                        mkdir newfolder<br><br>
                        Move inside the same folder using the below command:<br><br>

                        cd newfolder (your folder name)<br><br>
                        <strong>step 5:</strong>Now inside this folder run the command –><br><br>

                        create-react-app reactfirst YOUR_APP_NAME<br><br>
                        <strong>step 6:</strong> Now open the IDE of your choice for eg. Visual studio code and open the
                        folder where you have installed the react app<br><br>
                        <strong>step 7:</strong> To start your app run the below command :<br><br>

                        npm start<br><br>
                    </P>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>React JSX</h4>
                    <hr />
                    <P>
                        JSX stands for JavaScript XML.<br>

                        JSX allows us to write HTML in React.<br>

                        JSX makes it easier to write and add HTML in React<br>
                    </P>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>What React State</h4>
                    <hr />
                    <P>
                        React components has a built-in state object.<br>

                        The state object is where you store property values that belongs to the component.<br>

                        When the state object changes, the component re-renders.<br>


                    </P>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>What is React Props</h4>
                    <hr />
                    <P>
                        Props are arguments passed into React components.<br>

                        Props are passed to components via HTML attributes.<br>
                        <strong>props</strong> stands for properties
                    </P>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4> React Components</h4>
                    <hr />
                    <P>
                        Components are independent and reusable bits of code. They serve the same purpose as JavaScript
                        functions, but work in isolation and return HTML.<br><br>

                        Components come in two types, Class components and Function components, in this tutorial we will
                        concentrate on Function components.
                    </P>
                </div>
            </article>
        </div>

    </section>


    <!-- question -->


    <footer>
        <div class="footer-col">
            <h3>Our Products</h3>
            <li>Managed website</li>
            <li>easy code</li>
            <li>Trustable code</li>
            <li>Marketing service</li>
        </div>
        <div class="footer-col">
            <h3>Quick links</h3>
            <li>Jobs</li>
            <li>Brand</li>
            <li>Invester Relationship</li>
            <li>good service</li>
        </div>
        <div class="footer-col">
            <h3>Features</h3>
            <li>Managed website</li>
            <li>easy code</li>
            <li>Trustable code</li>
            <li>Marketing service</li>
        </div>
        <div class="footer-col">
            <h3>Resourse</h3>
            <li>Guide</li>
            <li>Research</li>
            <li>Experts</li>
            <li>Marketing service</li>
        </div>
        <div class="footer-col">
            <h3> Newsletter</h3>
            <p>You can trust us. We only send promo offer</p>
            <div class="subscribe">
                <input type="text" placeholder="Your Email Addresss" />
                <a href="#" class="yellow">SUBSCRIBE</a>
            </div>
        </div>
        <div class="copyright"></div>
        <marquee height="200" direction="right"> copyright @2022 All rights reserved | this template is made by Khatal
            Nikita and Khatode pallavi </marquee>
        <div class="pro-links">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
    </footer>
    <img src="./../static/images/rocket.png" class="i" />

    <script>


    </script>
</body>

</html>