<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>college website</title>
    <link rel="stylesheet" href="./../static/css/style.css">
    <script src="./../static/js/college.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <!-- navigation -->
    <nav>
        <img src="./../static/images/logopn.png" alt="" height="70px" width="40px">
        <div class="navigation">
            <ul>
                <li><a href="/"> Home </a></li>
                <li><a href="/about"> About </a></li>
                <li><a href="/blog"> Blog </a></li>
                <li><a class="active" href="/course"> Courses </a></li>
                <li><a href="/contact"> Contact us </a></li>
            </ul>
        </div>
    </nav>
    <!-- home -->
    <section id="About-home">
        <h2> Enhance Our Popular Courses And Skill Up</h2>
    </section>

    <section id="course-inner">
        <div class="overview">
            <img height="300" width="300" class="course-img" src="./../static/images/sql.jpg" />
            <div class="course-head">
                <div class="c-name">
                    <h2>SQL beginners course</h2>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <p> SQL is a standard language for accessing and manipulating databases<br>
                        SQL stands for Structured Query Language.<br>
                        SQL lets you access and manipulate databases.<br>
                        SQL became a standard of the American National Standards Institute (ANSI) in 1986, and of the
                        International Organization for Standardization (ISO) in 1987
                    </p><br />
                </div><br />
                <!-- <span>$49.99 </span> -->
            </div>
            <h3> Insructor</h3><br />
            <div class="tutor">
                <img height="70" width="70" src="./../static/images/aa.jpeg" />
                <div class="tutor-dtl">
                    <h5> Natasha musk</h5>
                    <p> App developer At Wipro</p>
                </div>
            </div>
            <!-- <hr/> -->
            <br /><br />
            <hr />
            <h3> Course Overview</h3>
            <hr /><br /><br />
            <p>
            <h2>What is SQL.js?</h2><br />
            SQL stands for Structured Query Language.<br>
            SQL lets you access and manipulate databases.<br>
            <hr /><br /><br />
            <h3>What you`ll learn</h3>
            <div class="learn">
                <p><i class="far fa-check-circle"></i>SQL from scratch-beginner to advanced</p>
                <p><i class="far fa-check-circle"></i>Everything You Need To Become a SQL Expert</p>
                <p><i class="far fa-check-circle"></i>All about SELECT, UPDATE, DELETE, INSERT, WHERE command etc</p>
                <!-- <p><i class="far fa-check-circle"></i>Projects</p> -->
                <p><i class="far fa-check-circle"></i>Handwritten Notes</p>
                <p><i class="far fa-check-circle">

                    </i>SQL from scratch-beginner to advanced</p>
            </div>

        </div>
        <div class="enroll">
            <h3> This Course includes:</h3><br />
            <p><i class="fa-solid fa-video"></i> videos</p><br />
            <p><i class="fa-solid fa-newspaper"></i> Articles</p><br />
            <p><i class="fa-solid fa-cloud-arrow-down"></i> Downloadable resoures</p><br />
            <p><i class="fa-solid fa-infinity"></i> Full lifeline access </p><br />
            <p><i class="fa-solid fa-mobile"></i> Access on mobile </p><br />
            <p><i class="fa-solid fa-paperclip"></i> Assignment</p><br />
            <p><i class="fa-solid fa-trophy"></i> Certificate of completion</p><br />
            <div class="enroll-btn">
                <a class="blue" href="#"> Enroll Courses</a>
            </div>
        </div>
    </section>

    <!-- question -->

    <section class="faqs">
        <h2>Frequently Asked Questions</h2>
        <div class="container faqs__container">
            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>What Can SQL do??</h4>
                    <hr />
                    <P> SQL can execute queries against a database<br>
                        SQL can retrieve data from a database<br>
                        SQL can insert records in a database<br>
                        SQL can update records in a database<br>
                        SQL can delete records from a database<br>
                        SQL can create new databases<br>
                        SQL can create new tables in a database<br>
                        SQL can create stored procedures in a database<br>
                        SQL can create views in a database<br>
                        SQL can set permissions on tables, procedures, and views<br>

                    </P>
                </div>
            </article>

            <article class="faq ">
                <!-- open -->
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4> Some of The Most Important SQL Commands
                    </h4>
                    <hr />
                    <P>
                        SELECT - extracts data from a database<br>
                        UPDATE - updates data in a database<br>
                        DELETE - deletes data from a database<br>
                        INSERT INTO - inserts new data into a database<br>
                        CREATE DATABASE - creates a new database<br>
                        ALTER DATABASE - modifies a database<br>
                        CREATE TABLE - creates a new table<br>
                        ALTER TABLE - modifies a table<br>
                        DROP TABLE - deletes a table<br>
                        CREATE INDEX - creates an index (search key)<br>
                        DROP INDEX - deletes an index<br>
                    </P>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>SQL INSERT INTO Statement</h4>
                    <hr />
                    <P>
                        The INSERT INTO statement is used to insert new records in a table.<br><br>

                        INSERT INTO Syntax:<br>
                        It is possible to write the INSERT INTO statement in two ways:<br><br>

                        1. Specify both the column names and the values to be inserted:<br><br>

                        INSERT INTO table_name (column1, column2, column3, ...)<br>
                        VALUES (value1, value2, value3, ...);<br><br>
                        2. If you are adding values for all the columns of the table, you do not need to specify the
                        column names in the SQL query. However, make sure the order of the values is in the same order
                        as the columns in the table. Here, the INSERT INTO syntax would be as follows:<br><br>

                        INSERT INTO table_name<br>
                        VALUES (value1, value2, value3, ...);<br>
                    </P>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>SQL COUNT(), AVG() and SUM() Functions</h4>
                    <hr />
                    <P>
                        The COUNT() function returns the number of rows that matches a specified criterion.<br><br>

                        COUNT() Syntax<br>
                        SELECT COUNT(column_name)<br>
                        FROM table_name<br>
                        WHERE condition;<br>
                        The AVG() function returns the average value of a numeric column. <br><br>

                        AVG() Syntax<br>
                        SELECT AVG(column_name)<br>
                        FROM table_name<br>
                        WHERE condition;<br>
                        The SUM() function returns the total sum of a numeric column. <br><br>

                        SUM() Syntax<br>
                        SELECT SUM(column_name)<br>
                        FROM table_name<br>
                        WHERE condition;<br><br>


                    </P>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4>SQL LIKE Operator</h4>
                    <hr />
                    <P>
                        The LIKE operator is used in a WHERE clause to search for a specified pattern in a
                        column.<br><br>

                        There are two wildcards often used in conjunction with the LIKE operator:<br><br>

                        The percent sign (%) represents zero, one, or multiple characters<br>
                        The underscore sign (_) represents one, single character<br>
                    </P>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                <div class="question_answer">
                    <h4> SQL Comments</h4>
                    <hr />
                    <P>
                        Non Executable Part In Code Is Called Comment.<br><br>
                        Single Line Comments:<br>
                        Single line comments start with --.<br>

                        Any text between -- and the end of the line will be ignored (will not be executed).<br>

                        The following example uses a single-line comment as an explanation:<br>
                        Example<br>
                        SELECT * FROM Customers -- WHERE City='Berlin';
                        <br><br>
                        Multi-line Comments<br>
                        Multi-line comments start with /* and end with */.<br>

                        Any text between /* and */ will be ignored.<br>

                        The following example uses a multi-line comment as an explanation:<br>
                    </P>
                </div>
            </article>
        </div>

    </section>


    <!-- question -->


    <footer>
        <div class="footer-col">
            <h3>Our Products</h3>
            <li>Managed website</li>
            <li>easy code</li>
            <li>Trustable code</li>
            <li>Marketing service</li>
        </div>
        <div class="footer-col">
            <h3>Quick links</h3>
            <li>Jobs</li>
            <li>Brand</li>
            <li>Invester Relationship</li>
            <li>good service</li>
        </div>
        <div class="footer-col">
            <h3>Features</h3>
            <li>Managed website</li>
            <li>easy code</li>
            <li>Trustable code</li>
            <li>Marketing service</li>
        </div>
        <div class="footer-col">
            <h3>Resourse</h3>
            <li>Guide</li>
            <li>Research</li>
            <li>Experts</li>
            <li>Marketing service</li>
        </div>
        <div class="footer-col">
            <h3> Newsletter</h3>
            <p>You can trust us. We only send promo offer</p>
            <div class="subscribe">
                <input type="text" placeholder="Your Email Addresss" />
                <a href="#" class="yellow">SUBSCRIBE</a>
            </div>
        </div>
        <div class="copyright"></div>
        <marquee height="200" direction="right"> copyright @2022 All rights reserved | this template is made by Khatal
            Nikita and Khatode pallavi </marquee>
        <div class="pro-links">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
    </footer>
    <img src="./../static/images/rocket.png" class="i" />

    <script>


    </script>
</body>

</html>